body {
    font-family: Arial, Helvetica, sans-serif;
}

.h700 {
    height: 700px;
}

.p0 {
    padding: 0;
}

.ml15 {
    margin-left: 15px;
}

.mt7 {
    margin-top: 7px;
}

.pt10 {
    padding-top: 10px;
}

.pt50 {
    padding-top: 50px;
}

.m0 {
    margin: 0;
}

.w-65 {
    width: 65%;
}

.font-size20 {
    font-size: 20px;
}

.font15 {
    font-size: 15px;
}

.font20 {
    font-size: 20px;
}

.font-bold {
    font-weight: bold;
}

.rotate2 {
    transform: rotate(2deg);
}

.rotate-2 {
    transform: rotate(-2deg);
}

.rotate5 {
    transform: rotate(5deg);
}

.rotate-5 {
    transform: rotate(-5deg);
}


/** Colors **/

.bg-pink {
    background-color: #ffdeda;
}

.bg-pistacho {
    background-color: #ddefaa;
}

.bg-water {
    background-color: #99dbe7;
}

.bg-sand {
    background-color: #fefbc2;
}

.bg-blue {
    background-color: #99cdff;
}


/** Buttons **/

.btn-identi {
    color: #fff;
    background-color: #7db4c9;
    background-color: #7db4c9;
}

.btn-twitter {
    color: #fff;
    background-color: #00bcff;
    background-color: #00bcff;
}


/*Menu "log in"*/

#login-menu {
    margin-top: 10px;
    font-size: 15px;
}


/*Estilos generales para toso los menús de la página*/

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding-left: 5px;
}

li a {
    text-decoration: none;
    color: rgb(87, 86, 86);
    font-weight: bold;
}

li a:hover {
    text-decoration: none;
    color: grey;
}

.rotate {
    transform: rotate(2deg);
}

.posit {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 16rem;
    border: 0;
    -webkit-box-shadow: 0 15px 15px -15px rgba(43, 43, 44, 0.8);
    box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.8);
}

#main-content h2 {
    color: #40bac5;
    font-weight: bold;
}

#main-content h5 {
    color: #00747f;
    font-weight: bold;
}

#title h2 {
    color: #00747f;
    font-weight: bold;
}

#footer {
    height: 100px;
}